{% extends 'cadastros/listas/camelos/template-camelo.html' %}
{% load rotas %}

{% block titulo_botao %}
    
<div class="d-flex">
  <div>Categorias</div>
  <div class="ms-auto">
        <a href="{% url 'cadastrar-categoria' camelo.pk %}" class="btn btn-primary">Adicionar Categoria</a>
  </div>
</div>

{% endblock %}

{% block limpar %}
    <a href="{% rota_objeto_listas_camelo nome_modelo_lista camelo.pk %}" class="btn btn-outline-secondary">Limpar <i class="bi bi-arrow-clockwise"></i></a>
{% endblock %}



{% block cabecalho %}
    <th>id</th>
    <th>nome</th>
    <th>descrição</th>
{% endblock%}



{% block conteudo_tabela %}
    <td>{{object.pk}}</td>
    <td>{{object.nome}}</td>
    <td class="{% if not object.descricao %}text-muted{% endif %}">{{object.descricao|default:"&ndash;"|safe}}</td>
{% endblock %}