{% extends 'cadastros/listas/camelos/template-camelo.html' %}
{% load rotas %}


{% block titulo_botao %}   
    <div class="d-flex">
    <div>Pedidos</div>
    </div>
{% endblock %}

{% block limpar %}
    <a href="{% rota_objeto_listas_camelo nome_modelo_lista camelo.pk %}" class="btn btn-outline-secondary">Limpar <i class="bi bi-arrow-clockwise"></i></a>
{% endblock %}

{% block editar_proibido %}
{% if object.pedido.opcao_pedido == 'loja' and object.status == 'em andamento'  %}
    <a href="{% url 'finalizar-pedido' object.pk %}" class="btn btn-success" title="Finalizar Pedido"><i class="bi bi-check"></i></a>
{% endif %}
{% endblock %}


{% block cabecalho %}
    <th>id</th>
    <th>Usuário</th>
    <th>Data do pedido</th>
    <th>Status do pedido</th>
    <th>Produtos no Pedido</th>
    <th>Opção do Pedido</th>
    <th>Endereço</th>
    <th>Valor Total</th>
{% endblock%}


{% block conteudo_tabela %}
    {% with status=object.status %}
        <!-- <td class="{{ object.classe_cor }}">{{object.pk}}</td>
        <td>{{object.pedido.usuario}}</td>
        <td>{{object.pedido.data_pedido}}</td>
        <td>{{object.status}}</td>
        <td>
            
                {{object.quantidade}}X {{ object.produto.nome }} {{ object.produto.marca }} (R${{ object.preco_unitario }})
                    
                
        </td>
        <td>{{object.pedido.opcao_pedido}}</td>
        <td class="{% if not object.pedido.endereco %}text-muted{% endif %}">{{object.pedido.endereco|default:"&ndash;"|safe}}</td>

        <td>R$ {{ object.subtotal|floatformat:2 }}</td> -->

        <td class="{{ object.classe_cor }}">{{object.pk}}</td>
        <td class="{{ object.classe_cor }}">{{object.pedido.usuario}}</td>
        <td class="{{ object.classe_cor }}">{{object.pedido.data_pedido}}</td>
        <td class="{{ object.classe_cor }}">{{object.status}}</td>
        <td class="{{ object.classe_cor }}">
            
                {{object.quantidade}}X {{ object.produto.nome }} {{ object.produto.marca }} (R${{ object.preco_unitario }})
                    
                
        </td>
        <td class="{{ object.classe_cor }}">{{object.pedido.opcao_pedido}}</td>
        <td class="{% if not object.pedido.endereco %}text-muted{% endif %} {{ object.classe_cor }}">{{object.pedido.endereco|default:"&ndash;"|safe}}</td>

        <td class="{{ object.classe_cor }}">R$ {{ object.subtotal|floatformat:2 }}</td>

    {% endwith %}
{% endblock %}



{% block excluir_proibido %}
{% if object.pedido.opcao_pedido == 'loja' and object.status == 'em andamento' %}
    <a href="{% url 'cancelar-pedido' object.pk %}" class="btn btn-danger" title="Cancelar Pedido"><i class="bi bi-x"></i></a>
{% endif %}
{% endblock %}




