{% extends 'cadastros/listas/camelos/template-camelo.html' %}
{% load rotas %}

{% block titulo_botao %}

<div class="d-flex">
  <div>Produtos</div>
  <div class="ms-auto">
        <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary">Adicionar Produto</a>
  </div>
</div>

{% endblock %}

{% block limpar %}
    <a href="{% rota_objeto_listas_camelo nome_modelo_lista camelo.pk %}" class="btn btn-outline-secondary">Limpar <i class="bi bi-arrow-clockwise"></i></a>
{% endblock %}

{% block cabecalho %}
    <th>id</th>
    <th>imagem</th>
    <th>nome</th>
    <th>marca</th>
    <th>categoria</th>
    <th>descrição</th>
    <th>preço</th>
    <th>quantidade</th>
    <th>quantidade vendido</th>
    <th>avaliação geral</th>
{% endblock%}



{% block conteudo_tabela %}
    <td>{{object.pk}}</td>
    <td><img src="{{ object.imagem.url }}" alt="" style="width: 100px;"></td>

    <td>{{object.nome}}</td>
    <!-- <td class="{% if not object.descricao %}text-muted{% endif %}">{{object.descricao|default:"&ndash;"|safe}}</td> -->
    <td>{{object.marca}}</td>
    <td>{{object.categoria}}</td>
    <td>{{object.descricao}}</td>
    <td>R${{object.preco}}</td>
    <td>{{object.quantidade}}</td>
    <td>{{object.quantidade_vendido}}</td>
    <td>{{object.avaliacao_geral}}</td>
    


{% endblock %}