{% extends 'paginas/index.html' %}

{% block conteudo %}
    <div class="container mt-4">
        {% for object in object_list %}
            <a href="{% url 'produto' object.produto.pk %}" style="text-decoration: none;">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card mb-3 shadow-sm">
                            <div class="row g-0">
                            {% if object.produto.imagem %}
                            <div class="col-md-4">
                                <img src="{{ object.produto.imagem.url }}" class="img-fluid rounded-start" alt="{{ object.produto.nome }}">
                            </div>
                            {% endif %}
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">{{ object.produto.nome }} {{ object.produto.marca }}</h5>
                                <p class="card-text">{{ object.produto.descricao|truncatewords:25 }}</p>
                                <p class="card-text">R$ {{ object.produto.preco }}</p> 
                                <p class="card-text">Quantidade: {{ object.quantidade }}</p> 

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
        <div class="alert alert-info d-flex align-items-center justify-content-between" role="alert">
            <div>
            <i class="bi bi-cart-x-fill me-2" style="font-size: 1.5rem;"></i>
            <strong>Você ainda não possui um carrinho ativo.</strong> Adicione produtos para começar!
            </div>
        </div>
            <div class="text-center">
                <a href="{% url 'index' %}" class="btn btn-primary">Procure Por Produtos Na Tela Inicial!</a>
            </div>

        {% endfor %}
    </div>
    {% if object_list %}
        Valor total: R$ {{ total }}
    {% endif %}
{% endblock %}