{% extends 'cadastros/listas/template.html' %}

{% block titulo_botao %}
    
<div class="d-flex">
  <div>Categorias</div>
</div>

{% endblock %}


{% block cabecalho %}
    <th>id</th>
    <th>nome</th>
    <th>descrição</th>
    <th>Camelô</th>
{% endblock%}



{% block conteudo_tabela %}
    <td>{{object.pk}}</td>
    <td>{{object.nome}}</td>
    <td class="{% if not object.descricao %}text-muted{% endif %}">{{object.descricao|default:"&ndash;"|safe}}</td>
    <td>{{object.camelo}}</td>
{% endblock %}