{% extends 'cadastros/listas/template.html' %}

{% block titulo_botao %}   
    <div class="d-flex">
    <div>Pedidos</div>
    </div>
{% endblock %}

{% block editar_proibido %}

{% endblock %}


{% block cabecalho %}
    <th>id</th>
    <th>Usuário</th>
    <th>Data do pedido</th>
    <th>Status do pedido</th>
    <th>Produto no Pedido</th>
    <th>Valor Total</th>
{% endblock%}


{% block conteudo_tabela %}
    <td>{{object.pk}}</td>
    <td>{{object.usuario}}</td>
    <td>{{object.data_pedido}}</td>
    <td>{{object.status}}</td>
    <td>
        <ul>
            {% for item in object.produtos.all %}
                <li class="pb-2">{{item.quantidade}}X {{ item.produto.nome }} {{ item.produto.marca }} (R${{ item.preco_unitario }})</li>
                
            {% empty %}
                <li>Nenhum produto</li>
            {% endfor %}
        </ul>
    </td>
    <td>R$ {{object.valor_total|floatformat:2}}</td>
{% endblock %}