{% extends 'paginas/index.html' %}

{% load rotas %}

{% block conteudo %}
<div class="d-flex justify-content-center">
    
    <div class="col-12">
        <h2 class="pt-2">
                {% block titulo %}

                {% endblock %}
        </h2>
        <hr class="p-1">
        <div class="overflow-auto">
            
            <table class="table table-hover table-bordered align-middle text-center">
                <tr>
                    {% block cabecalho %}
                    
                    {% endblock %}
                    <th style=" position: sticky;
                                right: 0;
                                background-color: #d3d3d3; /* evita sobreposição visual */
                                z-index: 2; /* garante que fique acima das outras células */
                                min-width: 120px; /* largura mínima para os botões */
                                text-align: center;
                                border-left: none; /* remove a borda que causa o efeito fixo */
                                box-shadow: -1px 0 0 #dee2e6; /* simula a borda esquerda */">
                                Opções</th>
                </tr>

                {% for object in object_list %}
                <tr>
                    {% block conteudo_tabela %}
                        
                    {% endblock%}
                    <td style="position: sticky;
                                right: 0;
                                background-color: #f8f9fa;
                                z-index: 2;
                                min-width: 120px;
                                text-align: center;
                                border-left: none; /* remove a borda que causa o efeito fixo */
                                box-shadow: -1px 0 0 #dee2e6; /* simula a borda esquerda */">
                                <a href="{% rota_objeto 'atualizar' object %}" class="btn btn-warning">Editar</a> 
                                <a href="" class="btn btn-danger">Excluir</a>
                            </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Nenhum campo registrado</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>


{% endblock %}