{% extends 'paginas/index.html' %}

{% load rotas %}

{% load static %}

{% block conteudo %}




<div class="d-flex justify-content-center">
    
    <div class="col-12">
        <h2 class="pt-2">
            
            {% block titulo_botao %}

            {% endblock %}

        </h2>
        <hr class="p-1">

        <form action="?" method="get">

            <input type="text" name="nome" id="" value="{{ request.GET.nome }}" autocomplete="off">
            <button type="submit">Buscar</button>
            <a href="{% url 'listar-categorias' %}">Limpar</a>

        </form>

        <div class="overflow-auto pt-2">
            <!-- <input type="text" id="buscaGlobal" class="form-control mb-3 shadow-sm" placeholder="Buscar na tabela..."> -->
            <table class="table table-hover table-bordered align-middle text-center" id="tabela">
                <thead>
                    <tr>
                    
                        {% block cabecalho %}
                        
                        {% endblock %}
                        <th style=" position: sticky;
                                right: 0;
                                background-color: #d3d3d3; /* evita sobreposição visual */
                                z-index: 2; /* garante que fique acima das outras células */
                                min-width: 120px; /* largura mínima para os botões */
                                text-align: center;
                                border-left: none; /* remove a borda que causa o efeito fixo */
                                box-shadow: -1px 0 0 #dee2e6; /* simula a borda esquerda */">
                                Opções</th>
                    </tr>
                </thead>
                    

                {% for object in object_list %}
                <tbody>
                    <tr>
                    
                        {% block conteudo_tabela %}
                        
                        {% endblock%}
                        <td style="position: sticky;
                                right: 0;
                                background-color: #f8f9fa;
                                z-index: 2;
                                min-width: 120px;
                                text-align: center;
                                border-left: none; /* remove a borda que causa o efeito fixo */
                                box-shadow: -1px 0 0 #dee2e6; /* simula a borda esquerda */">
                                <a href="{% rota_objeto 'atualizar' object %}" class="btn btn-warning">Editar</a> 
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal{{ object.pk }}">Excluir</button>
                                
                                   
                        </td>
                    </tr>
                            <div class="modal fade" id="confirmModal{{ object.pk }}" tabindex="-1" aria-labelledby="confirmModalLabel{{ object.pk }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <form method="post" action="{% rota_objeto 'excluir' object %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="confirmModalLabel{{ object.pk }}">Confirmar exclusão</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body">
                                            Tem certeza que deseja excluir <strong>{{ object }}</strong>?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-danger">Excluir</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                </tbody>
                {% empty %}
                    <tr>
                        <td>Nenhum campo registrado</td>
                         <!-- colspan="3" -->
                    </tr>
                {% endfor %}

            </table>
            


        </div>
        <div class="d-flex justify-content-center mt-4">
                <ul class="pagination justify-content-center">

                    {% if request.GET.nome %}

                    {% else %}

                    {% endif %}



                    {% if page_obj.has_previous %}

                        {% if request.GET.nome %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{ request.GET.nome }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}

                        
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>

                    {% if page_obj.has_next %}

                        {% if request.GET.nome %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{ request.GET.nome }}">Próxima</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                            </li>
                        {% endif %}


                        
                    {% endif %}
                </ul>
            </div>
    </div>
</div>


{% block scripts %}
    <script>
    $(document).ready(function () {
        
    });
    </script>

{% endblock %}


{% endblock %}